<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gerenciador de Processos</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="../../static/Gerenciador/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="../../static/Gerenciador/css/landing-page.css ">
    <link href="../../static/Gerenciador/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link href="../../static/Gerenciador/vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="../../static/Gerenciador/css/landing-page.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Gerenciador</a>
        <a class="btn btn-primary" href="#">Iniciar Sessão</a>
      </div>
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Gerenciador 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/Gerenciador/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/Gerenciador/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
