<!--https://www.devmedia.com.br/quicksearch-e-bootstrap-adicione-buscas-em-paginas-web/37629 -->

{% extends 'Gerenciador/base.html' %}

{% load widget_tweaks%}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container justify-content-center">  
        <form method="GET" action="" class="form-inline">
            <div class="form-group mx-sm-3 mb-2 ">
                <select name="Autor" class="form-control col-md-4">
                    <option>Selecione Autor</option>
                    {%for autor in Autor %}      
                    <option  value={{autor.id}}>{{autor.nome_autor}} - {{autor.codigo}}</option>
                    {% endfor %}      
                  </select>
                <label class="mx-sm-2"></label>
                <input type="search" name="NumeroProcesso" class="form-control" placeholder="Número Processo">      
                <label class="mx-sm-2"></label>
                <input type="date" name="DataInclusao" class="form-control"">      
              </div>
              <button type="submit" class="btn btn-primary mx-sm-2 mb-2">Buscar</button>
              <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Busca Avançada</button>
        </form>
    </div>
  </nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Busca Avançada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label" name="Bairro">Bairro:</label>
            <input type="search" name="Bairro" class="form-control">  
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label" name="Cidade">Cidade:</label>
            <input type="search" name="Cidade" class="form-control">
          </div>
          <div class="form-row">
              <label class="" name="Segredo">É segredo ?</label>
          <div class="form-group col-md-4">
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="Segredo" value="1" class="custom-control-input" id="segredo1">     
                  <label class="custom-control-label" for="segredo1">Sim</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="Segredo" value="0" class="custom-control-input" checked="checked" id="segredo2">   
                  <label class="custom-control-label" for="segredo2" checked="">Não</label>
              </div>
            </div>
          </div>
          <div class="form-row">
              <label class="" name="Advogado">Tem advogado ?</label>
          <div class="form-group col-md-6">
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="Advogado" value="1" class="custom-control-input" id="possuiadv1">     
                  <label class="custom-control-label" for="possuiadv1">Sim</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="Advogado" value="0" class="custom-control-input" checked="checked" id="possuiadv2">   
                  <label class="custom-control-label" for="possuiadv2" checked="">Não</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
<div class="container">
  <table id="minhaTabela" class="table table-striped table-bordered table-sm">
    <thead>
      <tr align="center">
        <th scope="col">#</th>
        <th scope="col">Autor</th>
        <th scope="col">Núm. Processo</th>
        <th scope="col">Tem advogado?</th>
        <th scope="col">Segredo?</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">Incluído Em</th>
      </tr>
    </thead>
    <tbody>
        {%for e in object_list%} 
      <tr>
        <td>1</td>
        <td>{{e.fk_autor}}</td>
        <td>{{e.numero_processo}}</td>
        <td align="center">{% if e.advogado == 1 %}
              <img src="../../static/Gerenciador/img/ok2.png" alt="Tem advogado">
            {% else %}
              <img src="../../static/Gerenciador/img/delete.png" alt="Não tem Advogado">
            {% endif %}              
        </td>                
        <td align="center">{% if e.segredo == 1 %}
            <img src="../../static/Gerenciador/img/ok2.png" alt="Tem advogado">
          {% else %}
            <img src="../../static/Gerenciador/img/delete.png" alt="Não tem Advogado">
          {% endif %}              
      </td>                
        <td>{{e.bairro}}</td>
        <td>{{e.cidade}}</td>                
        <td>{{e.data_inclusao}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}